@use "../src/util/breakpoints" as u;
@import "Colors";


.cards {
    padding: 2rem 4rem; 
    background: #ffffff;

    @include u.breakpoint(small){
      padding: 0.5rem 2rem;
    }

    h1 {
      text-align: center;
    }

    .top-destination {
      color: $pink-text;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .main_categories{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;

      @include u.breakpoint(small){
        flex-wrap: wrap;
        height: 17rem;
      }

      @include u.breakpoint(xsmall){
        height: 23rem;
      }

        h2{
        font-weight: 600;
        font-size: 3rem;
        color: #191825;

        @include u.breakpoint(large){
          font-size: 2rem;
        }
      }

      .category{
        list-style: none;
        display: flex;
        align-items: center;
        width: 40rem;
        justify-content: space-evenly;
        padding-bottom: 3rem;

        @include u.breakpoint(xmedium){
          display: flex;
          flex-wrap: wrap;
        }

        @include u.breakpoint(small){
          padding: 0.5rem 0;
          width: 60%;
          justify-content: space-between;
        }

        li{
          @include u.breakpoint(small){
            width: 6rem;
          }
        }

        p{
          @include u.breakpoint(medium){
            font-size: 0.8rem;
          }

          @include u.breakpoint(small){
            font-size: 1rem;
          }
        }

        .nav-item-city:hover,
        .nav-item-city:active,
        .nav-item-city.selected{
         transform: scale(1.2);
         font-weight: 600;
         color: $pink-text;
         border-bottom: 1px solid $pink-text;
        }

        .nav-item-city{
          @include u.breakpoint(xmedium){
            display: flex;
            margin: 0.5rem 1rem;
          }
        }
      }
    }
    .card-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      gap: 3rem;
    }
  }
  
  