@use "../src/util/breakpoints" as u;
@import "../src/util/Colors.scss";



.card {
    border-radius: 10px;
    overflow: hidden;
    width: 25rem;
    height: 40rem;  

    @include u.breakpoint(xxlarge){
      width: 25rem;
    }
    
    @include u.breakpoint(xlarge){
      width: 30rem;
    }

    @include u.breakpoint(large){
      width: 22rem;
      height: 37rem;
    }

    @include u.breakpoint(medium){
      width: 20rem;
      height: 35rem;
    }

    @include u.breakpoint(xmedium){
      width: 16rem;
      height: 36rem;
    }

    @include u.breakpoint(small){
      width: 25rem;
      height: 36rem;
    }

    @include u.breakpoint(xsmall){
      width: 20rem;
      height: 35rem;
    }

  h2 {
    font-weight: 700;
    color: $dark-text;
    margin: 0.8rem 0;
  }

  &-image-container{
    position: relative;

    i {
      color: #FFCD6B;
    font-size: 0.7rem;
    padding-right: 1rem;
    }
  }

  img{
    width: 100%;
    height: auto;
    border-radius: 35px; 
  }

  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0.8rem;
    right: 1.5rem;
    background-color: rgba(12, 17, 31, 0.24);
    padding: 0.3rem 0.7rem;
    border-radius: 30px;
    color: #fff;
    backdrop-filter: blur(5px)
  }
  
  &-details {
    padding: 1.1rem 1.5rem;
    background-color: rgba(247, 247, 247, 0.5); 
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 35px 35px;
    height: 6.5rem;

    .price {
      font-weight: 700;
      font-size: 1.4rem;
      color: $dark-text;
    }

    .btn-card {
      cursor: pointer;
      background-image: linear-gradient(to bottom, #8482FF, #7723FE);
      color: #fff;
      width: 7rem;
      height: 3rem;
      border-radius: 30px;
      border: none;
      box-shadow: none;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .btn-see-more{
    cursor: pointer;
    color: $dark-text;
    width: 7rem;
    height: 1rem;
    border: none;
    background-color: #fff ;
    font-size: 0.9rem;
    font-weight: 500; 
    padding-right: 2.2rem;
   }
}

 